<div class="container">
  <div class="jumbotron">
    <img src="../public/assets/images/burger.jpg" class="img-responsive" alt="burger photo">
    <h1>Eat da Burger!</h1>
  </div><!-- close jumbotron div -->  

  <div class="row">
  {{!-- Uneaten Burger List --}}

    <div class "col-md-5 col-md-offset-1">
      <h2>Uneaten Hamburgers!</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burgers-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div><!-- close UNEATEN BURGER col-md-5 col-md-offset-1 -->


  {{!-- Devoured Burger List --}}
    <div class "col-md-5 col-md-offset-1">
      <h2>Hamburgers devoured!</h2>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burgers-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div><!-- close DEVOURED BURGER col-md-5 col-md-offset-1 -->
  </div><!-- close eaten and uneaten div -->  

  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Hamburger:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="slee">Devoured?</label><br>
      <input type="radio" name="devoured" value="1" checked> Devoured!<br>
      <input type="radio" name="devoured" value="0"> Not Eaten
    </div>

    <button type="submit">Add Hamburger</button>
  </form>
</div> <!-- close CONTAINER div -->  
